
@media screen and (min-width: 768px) {
    .container {
        max-width: 798px;
    }
}


@media screen and (min-width:768px) and (max-width: 1199px)  {
    .mobile-menu {
        display: none;
    }
    .mobile-menu-open {
        display: none;
    }
    .features-content-icon {
        display: none;
    }
    .work {
        display: none;
    }

    .container-sm {
        width: 552px;
    }


    
/*-------------------------- header tablet --------------------------*/



.head {
    padding: 0;
    
}



.nav-list {
    justify-content: center;
}

.nav-item {
    position: relative;
    padding-bottom: 24px;
}


.logo {
    margin-right: 120px;
}


.nav-list {
    align-items: center;
}

.contacts-list {
    display: block;
}

.contacts-item {
    font-size: 12px;
    line-height: 1.16;
}

.mail {
    margin-bottom: 6px;
}

.tel {}


/*------------------- tablet modal window ---------------------*/

.modal {
    width: 408px;
}




/*------------------- hero tablet studio ---------------------*/

.hero {
    padding: 112px 0;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/mobile-hero/tablet-bg.jpg);
    background-color: #2E2F42;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx)  and (min-width:768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/mobile-hero/tablet-bg@2x.jpg);
    }
}


.hero-button {
    margin-top: 40px;
}


/*------------------- tablet features studio ---------------------*/



.features-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
}

.features-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 64px;
}

.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 8px;
}

.features-subtitle {
    font-weight: 500;
    width: 356px;
}

/*------------------- tablet team studio ---------------------*/


.team-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.team-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 64px;
}


/*------------------- tablet customers studio ---------------------*/

.customers {
    padding-bottom: 96px;
}

.customers-list {
    gap: 24px;
}

.customers-item {
    width: calc((100% - 48px) / 3);
    margin-bottom: 72px;
}


/*------------------- tablet footer ---------------------*/


.footer {
    padding: 45px 0;
}

.tablet-footer-content {
    display: flex;
    margin-right: auto;
    gap: 24px;
}

.footer-logo-content {
    align-items: start;
}

.footer-social-content {
    align-items: start;
}

.footer-form {
    align-items: start;
    margin-right: auto;
}

.footer-form-input-wrapper {
    flex-direction: row;
}

.footer-form-input {
    width: 264px;
}


}

